<%- include('../components/html') %>
<%- include('../components/header') %>

<main class="w-full h-full">
    <div class="flex flex-col max-w-limit mx-auto h-full">
        <form method="post">
            <div class="flex flex-col my-2">
                <label for="name">
                    <strong>Expansion name:</strong>
                </label>
                <input id="name" name="name" placeholder="Twilight Masquarade" required type="text" class="border-2 border-neutral-300 p-1" value="<%= typeof expansion === 'undefined' ? '' : expansion.name %>">
            </div>
            <div class="flex flex-col my-2">
                <label for="shorthand">
                    <strong>Expansion shorthand:</strong>
                </label>
                <input id="shorthand" name="shorthand" placeholder="TWM" required type="text" class="border-2 border-neutral-300 p-1" value="<%= typeof expansion === 'undefined' ? '' : expansion.shorthand %>">
            </div>
            <div class="flex flex-col my-2">
                <label for="shorthand">
                    <strong>Expansion description:</strong>
                </label>
                <textarea id="description" name="description" placeholder="Very cool expansion..." required type="text" class="border-2 border-neutral-300 p-1" ><%= typeof expansion === 'undefined' ? '' : expansion.description %></textarea>
            </div>
            <div class="flex flex-col my-2">
                <label for="settype">
                    <strong>Expansion type:</strong>
                </label>
                <input id="settype" name="settype" placeholder="Special Expansion..." required type="text" class="border-2 border-neutral-300 p-1" value="<%= typeof expansion === 'undefined' ? '' : expansion.set_type %>">
            </div>
            <div class="flex flex-col my-2">
                <label for="edition">
                    <strong>Edition:</strong>
                </label>
                <select name="edition" id="edition" class="border-2 border-neutral-300 p-1">
                    <option value="">--Select an edition--</option>
                    <% editionList.forEach(edition => { %>
                        <% if (typeof expansion !== 'undefined' && expansion.edition.toString() === edition._id.toString()) { %>
                            <option value="<%= edition._id %>" selected><%= edition.name %></option>
                        <% } else { %>
                            <option value="<%= edition._id %>"><%= edition.name %></option>
                        <% } %>
                    <% }) %>
                </select>
            </div>
            <div class="flex flex-col my-2">
                <label for="releasedate">
                    <strong>Expansion release date:</strong>
                </label>
                <input id="releasedate" name="releasedate" required placeholder="dd/mm/yyyy" type="date" class="border-2 border-neutral-300 p-1" value="<%= typeof expansion === 'undefined' ? '' : expansion.release_date_yyyy_mm_dd %>">
            </div>
            <div class="flex flex-col my-2">
                <label for="logo">
                    <strong>Expansion logo: </strong>
                </label>
                <input id="logo" name="logo" onchange="onChangeHandler(this.value)" placeholder="https://logo-url.com" required type="text" class="border-2 border-neutral-300 p-1" value="<%= typeof expansion === 'undefined' ? '' : expansion.logo %>">
            </div>
            <label> 
                <strong>Logo Preview:</strong>
                <img class="border-2 box-border border-neutral-300" src="<%= typeof expansion === 'undefined' ? '' : expansion.logo %>" onerror="this.src = '/images/placeholder.webp'" alt="" width="600" height="600" id="img-preview">
            </label>
            <button type="submit">Submit</button>
        </form>
        <% if (typeof errors !== 'undefined') { %>
            <ul>
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
            </ul>
        <% } %>
    </div>
</main>


<script>
    const imgPreview = document.querySelector('#img-preview')
    const LogoInput = document.querySelector('#Logo')

    function onChangeHandler (val) {
        imgPreview.src = val
        console.log(val)
    }

</script>
